:root{
    --center:center;
    --color-primario:grey;
    --color-caja:bisque;
    --font-text: monospace;
    --color-title:red;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title{
    font-family: var(--font-text);
    color: var(--color-title);
   
}


#contenedor{
    width: 100vw;
    height: 100vh;
    display: grid;
    
    grid-template-columns:50% 50%;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas: 'encabezado encabezado'
                         'barralateral contenido'
                         'piepagina contenido';

    justify-content: var(--center);
    align-content: var(--center);

    justify-items: stretch;
    align-items: stretch;

}

.caja{
  
    background-color:var(--color-caja);
    text-align: var(--center);
    border: 5px solid var(--color-primario);
}

#encabezado{grid-area: encabezado;}
#barralateral{grid-area: barralateral;}
#contenido{grid-area: contenido;}
#piepagina{grid-area: piepagina;}
