*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#contenedor{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: grid;
    
    grid-template-columns:50% 50%;
    grid-template-rows: 20% 40% 40%;
    grid-template-areas: 'encabezado encabezado'
                         'barralateral contenido'
                         'piepagina contenido';

    justify-content: center;
    align-content: center;

    justify-items: stretch;
    align-items: stretch;

}

.caja{
  
    background-color: greenyellow;
    text-align: center;
    border: 2px solid black;
}

#encabezado{grid-area: encabezado;}
#barralateral{grid-area: barralateral;}
#contenido{grid-area: contenido;}
#piepagina{grid-area: piepagina;}
